<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .card img{
            width: 70px;
            height: 90px;
        }
        .buy{
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
        .more-detail{
            border: none;
            border-radius: 5px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            background-color: grey;
        }
    </style>
</head>
<body>
    <header class="p-4">
        <div class="container">
            <div class="d-flex  justify-content-between">
                <div class="log">BookStore</div>
                <div class="menu">
                    <ul class="list-style-none d-flex">
                        <li class="mx-3"><a href="" class="text-dark">HOME</a></li>
                        <li class="mx-3"><a href="" class="text-dark">ABOUT</a></li>
                        <li class="mx-3"><a href="" class="text-dark">CONTACT</a></li>
                        <li class="mx-3"><a href="" class="text-dark">STORE</a></li>
                        <li class="mx-3"><a href="" class="text-dark">SEARCH</a></li>
                    </ul>
                </div>
            </div>

            <div class="mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-11">
                        <input type="text" class="w-100 p-2" placeholder="Search">
                    </div>
                <div class="col-1 text-end" >
                    <button class="">SEARCH</button>
                </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="col-6">
                    <div class="card mt-5 p-3">
                        <div class="d-flex">
                            <div class="col-4 mt-3">
                        <img src="https://up.yimg.com/ib/th?id=OIP.ptISe-dKxyCE4kQr4gJUOwC6Es&pid=Api&rs=1&c=1&qlt=95&w=73&h=118" alt="" class="">

                            </div>
                            <div class="col-8">
                                <h4>Oxfored Student</h4>
                                <h6 class="mt-2 mb-2">Price : $199.00</h6>
                                <div>
                                    <button class="more-detail">More Details</button>
                                    <a href="/buy" class=""><button class="bg-primary buy">Buy</button></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mt-5 p-3">
                        <div class="d-flex">
                            <div class="col-4 mt-3">
                        <img src="https://up.yimg.com/ib/th?id=OIP.EMyK2uhQmB8-_qiCufpl5wHaJx&pid=Api&rs=1&c=1&qlt=95&w=89&h=118" alt="" class="">

                            </div>
                            <div class="col-8">
                                <h4>Webster's</h4>
                                <h6>Price : $299.00</h6>
                                <div>
                                    <button class="more-detail">More Details</button>
                                    <a href="/buy1"><button class="bg-primary buy">Buy</button></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
            </div>
            <div class="d-flex">
                <div class="col-6">
                    <div class="card mt-5 p-3">
                        <div class="d-flex">
                            <div class="col-4 mt-3">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.lF-llxuZtMPidccRN70HtgHaLH&pid=Api&P=0&h=220" alt="" class="">

                            </div>
                            <div class="col-8">
                                <h4>The Power Of knowledge</h4>
                                <h6>Price : $99.00</h6>
                                <div>
                                    <button class="more-detail">More Details</button>
                                    <a href="/buy2"><button class="bg-primary buy">Buy</button></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mt-5 p-3">
                        <div class="d-flex">
                            <div class="col-4 mt-3">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.cxTABxF8us214PINww7kZQHaLr&pid=Api&P=0&h=220" alt="" class="">

                            </div>
                            <div class="col-8">
                                <h4>General Knowledge</h4>
                                <h6>Price : $149</h6>
                                <div>
                                    <button class="more-detail">More Details</button>
                                    <a href="/buy3"><button class="bg-primary buy">Buy</button></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
               </div>

        </div>
    </header>
</body>
</html>